.codex-editor {
	--bg-color: var(--theme--background-normal) !important;
	--front-color: var(--theme--foreground) !important;
	--border-color: var(--theme--border-color) !important;
}

.codex-editor .ce-toolbar__plus,
.codex-editor .ce-toolbar__settings-btn {
	color: var(--theme--foreground);
	background-color: var(--theme--background-normal);
	border-radius: var(--theme--border-radius);

}

.codex-editor .ce-toolbar__plus:hover,
.codex-editor .ce-toolbar__settings-btn:hover {
	background-color: var(--theme--background-accent);
}

.codex-editor .ce-toolbar__plus svg,
.codex-editor .ce-toolbar__settings-btn svg {
	fill: var(--theme--foreground) !important;
}

.codex-editor .cdx-settings-button svg,
.codex-editor .ce-inline-toolbar__dropdown svg,
.codex-editor .ce-inline-toolbar .ce-inline-tool svg,
.codex-editor .ce-settings .ce-settings__button svg {
	fill: var(--theme--foreground) !important;
}

.codex-editor .ce-inline-toolbar .ce-inline-tool--active svg,
.codex-editor .ce-settings .cdx-settings-button--active svg {
	fill: var(--theme--primary) !important;
}

.codex-editor .ce-toolbar .ce-toolbox__button svg,
.codex-editor .ce-toolbar .ce-toolbox__button:hover svg {
	fill: var(--theme--foreground);
}

.codex-editor .cdx-loader::before {
	border: 3px solid var(--theme--background-accent);
	border-left-color: var(--theme--primary);
}

.codex-editor .cdx-search-field {
	border-radius: var(--theme--border-radius) !important;
	border: none;
	background: var(--theme--background-subdued);
}

.codex-editor .ce-popover {
	background: var(--theme--popover--menu--background);
	border: 1px solid var(--theme--border-color);
	border-radius: var(--theme--popover--menu--border-radius);
	box-shadow: var(--theme--popover--menu--box-shadow);
}

.codex-editor .ce-popover__container {
	background: var(--theme--popover--menu--background);
  border: 1px solid var(--theme--border-color-subdued);
}

.codex-editor .ce-popover__item--focused {
	--webkit-box-shadow: none;
	box-shadow: none;
	background: var(--v-list-background-color-active) !important;
}

.codex-editor .ce-popover__item:hover {
	background: var(--v-list-background-color-hover) !important;
}

.codex-editor .ce-popover__item-icon {
	background: transparent;
	border-color: var(--theme--border-color);
}

.codex-editor .ce-popover__item-icon svg {
	fill: var(--theme--foreground);
}

.codex-editor .ce-popover-item__icon {
	background: none;
	border: 1px solid var(--theme--border-color-subdued);
	display: flex;
	align-items: center;
	justify-content: center;
}
.codex-editor .ce-popover-item__icon svg {
  width: auto;
  height: auto;
}

.codex-editor .ce-popover__item-secondary-label {
	color: var(--theme--foreground-subdued);
}

.codex-editor .ce-popover-item-separator__line {
	background: var(--theme--border-color-subdued);
}

.codex-editor .ce-popover__items:not(:first-child) {
	border-top: var(--theme--border-width) solid var(--theme--border-color);
	padding-top: 8px;
}

.codex-editor .image-tool--loading .image-tool__image,
.codex-editor .ce-block--selected .ce-block__content {
	background: var(--background-normal);
}

.codex-editor .image-tool--loading .image-tool__image {
	border-color: var(--theme--border-color);
}

.codex-editor .ce-inline-toolbar__toggler-and-button-wrapper {
	padding: 0;
}

.codex-editor .ce-inline-toolbar__dropdown {
	margin: 0;
	border-color: var(--theme--border-color);
}

.codex-editor .ce-inline-tool {
	padding: 0 10px !important;
}

.codex-editor .ce-settings__button--confirm.ce-settings__button--confirm {
	background-color: var(--theme--danger-background) !important;
}

.codex-editor .ce-settings__button--confirm.ce-settings__button--confirm svg {
	fill: var(--theme--foreground-accent) !important;
}

/* Tooltips */
.ct {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ct:before,
.ct:after {
	background-color: var(--theme--background-normal);
}

.ct__content {
	background-color: var(--theme--background-normal);
	color: var(--theme--foreground-accent);
	border-radius: 4px;
	padding: 8px;
	font-size: inherit;
}

/* Button balloons */

.codex-editor .ce-toolbox__button.ce-toolbox__button--active {
	background: var(--background-normal-alt);
}

.codex-editor .ce-toolbox__button.ce-toolbox__button--active svg {
	fill: var(--primary);
}

.codex-editor .ce-conversion-toolbar,
.codex-editor .ce-inline-toolbar,
.codex-editor .ce-settings {
	background: var(--theme--background-subdued);
	border-color: var(--theme--border-color);
	border-width: var(--border-width);
	border-radius: var(--theme--border-radius);
}

.codex-editor .cdx-settings-button:hover,
.codex-editor .ce-conversion-tool:hover,
.codex-editor .ce-inline-toolbar__dropdown:hover,
.codex-editor .ce-inline-toolbar .ce-inline-tool:hover,
.codex-editor .ce-settings .ce-settings__button:hover {
	background: var(--background-normal-alt);
}

.codex-editor .ce-conversion-toolbar .ce-conversion-tool--focused:not(:hover) {
	--webkit-box-shadow: unset;

	color: var(--theme--primary);
	background-color: var(--v-list-item-background-color-hover) !important;
	box-shadow: unset;
}

.codex-editor .ce-conversion-tool:hover {
	--webkit-box-shadow: unset;

	color: var(--v-list-item-color-hover);
	background-color: var(--v-list-item-background-color-hover) !important;
	box-shadow: unset;
}

.codex-editor .ce-conversion-toolbar__label {
	color: var(--theme--foreground);
}

.codex-editor .ce-conversion-tool__icon {
	background: transparent;
}

/* Textarea and inputs */

.codex-editor [contentEditable='true'][data-placeholder]::before {
	font-weight: unset;
}

.codex-editor .ce-code__textarea {
	font-family: var(--theme--fonts--monospace--font-family);
}

.codex-editor .cdx-input,
.codex-editor .ce-code__textarea {
	color: var(--theme--foreground);
	font-size: inherit;
	background-color: var(--theme--background);
	border: var(--theme--border-width) solid var(--theme--border-color);
	border-radius: var(--theme--border-radius);
	box-shadow: unset;
}

.codex-editor .cdx-input:hover,
.codex-editor .ce-code__textarea:hover {
	border-color: var(--theme--border-color-accent);
}

.codex-editor .cdx-input:focus,
.codex-editor .ce-code__textarea:focus {
	border-color: var(--theme--primary);
}

.codex-editor .ce-inline-tool-input {
	color: var(--theme--primary);
	background: var(--theme--background-normal);
	border-top-color: var(--theme--border-color);
}

/* Buttons */

.codex-editor .cdx-button {
	color: var(--v-button-color);
	font-weight: var(--v-button-font-weight);
	font-size: var(--v-button-font-size);
	text-decoration: none;
	background-color: var(--v-button-background-color);
	border: var(--theme--border-width) solid var(--v-button-background-color);
	border-radius: var(--theme--border-radius);
	cursor: pointer;
}

.codex-editor .cdx-button:hover {
	color: var(--v-button-color-hover);
	background-color: var(--v-button-background-color-hover);
	border-color: var(--v-button-background-color-hover);
}
